
/*  */
/* Background Image  */
/*  */
.backgroundImage {
  Position:fixed;
  Top: 0;
  left: 0%;
  Height: 100vh;
  Opacity: 0.35;
  Z-index: -5000;
}

.backgroundImage img {
  width:100vw;
  height: 135vh;
  object-fit: cover;

}
/*  */
/* mics */
/*  */
main{
/* color scheme - https://www.colorcombos.com/color-schemes/187/ColorCombo187.html*/
  color: #CC6633;
  color: #FF9900;
  color: #999999;
  color: #CCCCCC;
  color: #771100;
  font-size: 17px;
}
h1{
  /* width: 100%; */
  text-align: center;
  font-size: 75px;
  margin: 1.7rem;
}
#body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*  */
/* footer */
/*  */
.fixed-footer{
  width: 100%;
  position: fixed;        
  background: #7a7a7a;
  padding: .3rem;
  margin-left: -.51rem;
  color: #FF9900;
  bottom: 0;
  z-index: 1;
}
.fixed-footer img {
  height: 1.3rem;
  vertical-align: bottom;
  padding: 0 .3rem;
}
#footingPlaceHolder{
  height: 2.4rem;
  width: 100%;
  /* background-color: blue; */
}


/*  */
/* button tool */
/*  */
#button-toolbar{
  background-color: #771100;
  width: 20rem;
  height: 45rem;
  justify-self: right;
  display: flex;
  flex-wrap: wrap;
}
.button-toolbar{
  width: 100%;
  height: 16.67%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.button-toolbar-label{
  width: 100%;
  color: #FF9900;
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
}
#button-toolbar-label-hover{
  width: 100%;
  color: #FF9900;
  align-self: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.line {
  height: .5%;
  width: 100%;
  background-color: black;
}
button, input{
  height: 21%;
  font-size: 15px;
}
#hooverIndicatorLabel{
  margin-bottom: 0;
  text-decoration: underline;
}
#hooverIndicatorNote{
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
#hoverIndicator{
  justify-self: flex-end;
  display: flex;
  flex-wrap: wrap;

}

#selectedColor{
  width: 40%
}
#reset{
  align-content: center; 
  margin-top: -5%;
}
/* Radio Buttons */
.radio-toolbar {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
}
.radio-toolbar label {
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin: 4px;
}
.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed;
}
.radio-toolbar input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: white;
}



/*  */
/* Grid */
/*  */
#containerHolder{
  /* justify-self:left; */
  flex-basis: 65%;
}
#container{
  width: 45rem;
  height: 45rem;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}
.grid{
  border: rgb(243, 230, 230) solid .1rem;                     
  margin: -.1rem;
  background-color: #CC6633;
}

@media screen and (max-width: 1080px) {
  #containerHolder{
    order: -1;
  }
  #button-toolbar{
    background-color: #771100;
    width: 20rem;
    height: 35rem;
    margin: 2rem;
    justify-self: right;
    display: flex;
    flex-wrap: wrap;
  }
}




